API_HOST=0.0.0.0
API_PORT=8000

NETDATA_URL_RECIPE=http://192.168.0.10:19999
NETDATA_URL_AI=http://192.168.0.11:19999
NETDATA_URL_COLEMANPLEX=http://192.168.0.12:19999

ALLOWED_HOSTS=recipe-server,ai-chatbot,colemanplex