API_HOST=0.0.0.0
API_PORT=8000
NETDATA_URL_RECIPE=http://[NETDATA_IP]:19999
NETDATA_URL_AI=http://[NETDATA-SERVER2-IP]:19999
NETDATA_URL_COLEMANPLEX=http://[NETDATA-SERVER1-IP]]:19999
ALLOWED_HOSTS=recipe-server,ai-chatbot,colemanplex
